:root {
  --secondary-light-color: #93e4c1; 
  --primary-light-color: #3baea0; 
  --secondary-color: #118a7e; 
  --primary-color: #1f6f78; 
}

* {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-light-color);
  color: var(--primary-color);
  max-height: calc(100vh - 50px);

}

/* ---------------------------------------- NAVBAR ---------------------------------------- */
nav {
  max-height: 50px;
  background-color: var(--secondary-color);
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}

nav > ul > div > li > a, nav > ul > div > a > h1 {
  display: flex;
  align-items: center;
}

a, h2:not(#question-heading, #play-again > div > h2) {
  color: var(--secondary-light-color);
  transition: all ease-in-out .2s
}

a:not(span > a):hover, h2:not(#question-heading, #play-again > div > h2):hover {
  color: var(--primary-color);
}

#right-nav, #left-nav {
  display: flex;
  gap: 1rem;
  width: 150px;
}

#right-nav > li:first-of-type > a {
  background-color: var(--secondary-light-color);
  color: var(--primary-color);
  border-radius: .5rem;
  height: 20px;
  padding: .25rem;
  display: flex;
  align-items: center;
}

/* #right-nav > li:first-of-type:hover > a {
  color: var(--secondary-light-color);
  background-color: var(--primary-color);
} */

#right-nav > li:last-of-type > a {
  color: var(--secondary-light-color);
  background-color: var(--primary-color);
  border-radius: .5rem;
  height: 20px;
  padding: .25rem;
  display: flex;
  align-items: center;
}

#right-nav > li:hover > a {
  /* background-color: var(--secondary-light-color);
  color: var(--primary-color); */
  opacity: .75;
  transform: scale(1.1);
}

#right-nav > li {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

#game-title {
  transition: color ease-in-out .2s;
  margin: 0;
  color: var(--secondary-light-color);
  font-size: 1.75rem
}

#game-title:hover {
  color: var(--primary-color);
  animation: wiggle 500ms ease-in-out;
}

@keyframes wiggle {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-5deg);}
  50% {transform: rotate(10deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

/* ---------------------------------------- MAIN PAGE ---------------------------------------- */

#home-page {
  display: flex;
  max-height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-page > h1 {
  margin: 0;
  font-size: 5rem;
}

#home-page > div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 250px;
  gap: 1rem;
}

#home-page > div > a {
  width: 200px;
  background-color: var(--primary-light-color);
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  box-shadow: inset 0rem -.5rem 0rem  0rem rgba(0, 0, 0, .25);
  transition: all ease-in .1s;
}

#home-page > div > a:first-of-type:hover {
  transform: translateY(5px);
  box-shadow: none;
}

#home-page > div > a:last-of-type:hover {
  transform: translateY(5px);
  box-shadow: none;
}

.enter-heading {
  color: var(--primary-color) !important;
  margin: 0;
  display: flex;
  align-items: center;
}

#enter, #or {
  color: var(--primary-color);
}

#play-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  background-color: white;
  max-width: 800px;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2), -.1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2);
  padding: 1rem 2rem;
}

#play-again > h1 {
  border-bottom: solid .1rem var(--secondary-color);
  margin: 0;
  display: flex;
  align-items: flex-end;
}

#play-again > div > h2:hover {
  color: var(--primary-light-color);
}

#play {
  width: 250px;
  max-height: 100px;
  font-size: 2rem;
  outline: none;
  border: none;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2), -.1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2);
  transition: all ease-in-out .2s;
  color: var(--primary-color);
}

#play:hover {
  box-shadow: .25rem .25rem .2rem  .1rem rgba(0, 0, 0, .2), -.25rem .25rem .2rem  .1rem rgba(0, 0, 0, .2);
  transform: scale(1.1);
}

#play-section {
  display: flex;
  align-items: center;
  height: 500px;
}

main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Score-display {
  width: 100%;
  min-width: 800px;
  display: flex;
  justify-content: space-around;
  flex: 1 0;
  font-size: 1.5rem;
  max-height: 100px;
}

/* #category-display {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  max-width: 800px;
  padding: 2rem 3rem;
  background: rgb(14, 158, 219);
}

.category {
  border: solid 1px black;
  flex: 0 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2), -.1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2);
  transition: scale ease-in-out .2s;
}

#category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.category-heading {
  padding: 1.5rem 0;
}

.category:hover {
  box-shadow: .25rem .25rem .2rem  .1rem rgba(0, 0, 0, .2), -.25rem .25rem .2rem  .1rem rgba(0, 0, 0, .2);
  transform: scale(1.1);
} */

.pointer:hover {
  cursor: pointer;
}

#in-game-container, #answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  flex: 0 1;
  background-color: white;
}

#in-game-container {
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: .1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2), -.1rem .1rem .2rem  .1rem rgba(0, 0, 0, .2);
}

#question-heading {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#question {
  height: 100px;
  width: 800px;
}

.answer {
  min-height: 50px;
  width: 400px;
  overflow-wrap: normal;
}

.answer:hover {
  background-color: var(--secondary-light-color)
}

h3 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: shrink;
}

#login-container, #signup-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  height: 450px;
  padding: 1rem;
  border-radius: .5rem;
}

form {
  max-height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form > input {
  max-height: 25px;
  padding: 1rem;
  border-radius: .5rem;
  outline: none;
  border: none;
}

.submit-btn {
  padding: 1rem;
  max-height: 75px;
  border-radius: .5rem;
  outline: none;
  border: none;
  background-color: var(--primary-light-color);
  color: var(--secondary-light-color);
  font-size: 1.25rem;
  transition: background-color ease-in-out .2s;
}

.submit-btn:hover {
  background-color: var(--primary-color);
}

span {
  margin-top: 2rem;
  color: var(--secondary-light-color);
  max-height: 50px;
}

span > a {
  background-color: var(--primary-light-color);
  color: var(--secondary-light-color);
  padding: .5rem;
  border-radius: .5rem;
}

span > a:hover {
  background-color: var(--primary-color);
}






